{% extends 'base.html' %}

{% block content %}
</form>

<!-- Contact Start -->
<div id="scrollspyHeading4" class="container overflow-hidden py-5 px-lg-0">
    <div class="container-sm  contact-page py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-md-12 contact-form wow fadeIn " data-wow-delay="0.1s">
                 <div class="bg-light p-4 shadow-lg">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row g-3 ">
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="name" placeholder="Your Name">
                                    <label for="name">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="" placeholder="Your Name">
                                    <label for="name">Empresa</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email">
                                    <label for="email">Correo</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="phone" placeholder="Subject">
                                    <label for="subject">Telefono</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject">
                                    <label for="subject">Asunto</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" name="message" style="height: 100px"></textarea>
                                    <label for="message">Mensaje</label>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button class="btn btn-cta-primary w-100 py-3" type="submit">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Contact End -->

{% endblock content %}